* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* LAYOUT */

.bordered {
  border: 2px solid white;
}

body {
  background-color: black;
}

header {
  height: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  left: 0;
  top: 0;
  text-align: right;
  padding: 0 10px;
}

.top-content {
  height: calc(100vh - 100px);
  width: 100%;
  color: gray;
}

#content {
  overflow: auto;
  background-color: #141922;
}

#album {
  height: calc(100vh - 200px);
  padding: 15px;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #282828;
  color: white;
  position: fixed;
  z-index: 1;
}

#navbar {
  width: 300px;
  height: calc(100vh - 100);
  color: gray;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
  background-color: black;
  overflow: auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.row {
  margin: 0 -1rem;
}

.col {
  padding: 1rem;
}

h2 {
  padding-top: 35px;
}

/* DETAILS */

.title {
  color: white;
}

/* NAVBAR */

#navbar .logo-big {
  width: 150px;
  line-height: 100px;
}

#navbar .logo-small {
  width: 25px;
}

#navbar .menu {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.menu-icon {
  margin-right: 5px;
}

.menu-text {
  color: gray;
  text-decoration: none;
}

.menu img {
  width: 25px;
  aspect-ratio: 1;
  color: gray;
}

.add-new {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.add-new i {
  margin-right: 5px;
}

.playlist ul {
  list-style-type: none;
}

.playlist li {
  line-height: 25px;
}

.playlist i {
  font-size: 2rem;
}

#navbar .title {
  margin: 20px 0;
}

.lower-nav .download {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.lower-nav .profile {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.lower-nav img {
  width: 20px;
  aspect-ratio: 1;
  margin-right: 5px;
}

.flex {
  display: flex;
}

/* HEADER */

#header .btn-container {
  line-height: 100px;
}

.upgrade {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 15px 30px;
  border-radius: 35px;
}

/* ALBUM SECTION */

#album-menu .list {
  width: 70%;
  margin: auto;
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 10px;
  font-size: 0.9rem;
}

#recently-played .row {
  display: flex;
}

#recently-played .col {
  width: 100%;
}

.album-img {
  position: relative;
}

#recently-played .album-img {
  width: 100%;
}

.album-btn-cont {
  display: none;
  position: absolute;
  bottom: 2%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.album-btn-cont .album-btn {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
}

.album-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

.album-img img {
  width: 100%;
}

.album-title {
  color: white;
  margin: 8px 0;
}

.album-author {
  font-size: 0.7rem;
}

.card * {
  text-align: center;
}

#custom-playlist .row {
  display: flex;
}

#custom-playlist .col {
  width: 200px;
  aspect-ratio: 1;
}

#custom-playlist .album-img {
  width: 100%;
}

#popular-artist .row {
  display: flex;
}

#popular-artist .col {
  width: 200px;
  aspect-ratio: 1;
}

#popular-artist .album-img {
  width: 100%;
}

.circle {
  display: inline-block;
  position: relative;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
}

#popular-artist img {
  width: 100%;
}
/* FOOTER */

#footer .player {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0 15px;
}

.left-footer {
  width: 250px;
  display: flex;
  align-items: center;
}

.left-footer img {
  display: inline-block;
  width: 50px;
  aspect-ratio: 1;
}

.left-footer * {
  margin-right: 10px;
}

.song-icon {
  color: grey;
}

#footer small {
  font-size: 12px;
  color: gray;
}

.center-footer {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-icons * {
  margin-right: 15px;
  font-size: 1.3rem;
}

.big {
  font-size: 1.7rem;
}

.right-footer {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-footer i {
  margin-left: 10px;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.time {
  width: 50px;
}

.content-bar {
  width: 350px;
  margin: 0 20px;
}

.bar {
  height: 4px;
  width: 350pxpx;
  border-radius: 8px;
  background-color: #5e5e5e;
}

.white-bar {
  height: 4px;
  width: 20%;
  border-radius: 8px;
  background-color: white;
  position: relative;
}

.right-footer .content-bar {
  width: 100px;
  margin-left: 10px;
}

.right-footer .bar {
  height: 4px;
  width: 100px;
  border-radius: 8px;
  background-color: #5e5e5e;
}

.right-footer .white-bar {
  height: 4px;
  width: 20%;
  border-radius: 8px;
  background-color: white;
}

/* MEDIA QUERY */

/* MEDIUM LAYOUT */

@media screen and (min-width: 721px) {
  .logo-small {
    display: none;
  }
}

@media screen and (max-width: 1180px) {
  #album-menu .list {
    flex-wrap: wrap;
  }

  #recently-played .row {
    display: flex;
    flex-wrap: wrap;
  }

  #recently-played .col {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 880px) {
  #recently-played .col {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 720px) {
  #navbar {
    width: 50px;
  }

  #content {
    width: calc(100% - 50px);
  }

  .logo-big {
    display: none;
  }

  .menu-text {
    display: none;
  }

  .playlist {
    display: none;
  }

  .lower-nav span {
    display: none;
  }

  hr {
    display: none;
  }
}

/* HOVER */
.menu-text:hover,
li:hover,
.album-author:hover {
  color: white;
  cursor: pointer;
}

.album-img:hover .album-btn-cont {
  display: block;
}

.album-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer small:hover {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}

footer i:hover {
  color: white;
  cursor: pointer;
}

.player-icons i:hover {
  font-size: 1.4rem;
}

.player-icons .big:hover {
  font-size: 1.8rem;
}

.white-bar:hover {
  background-color: greenyellow;
  cursor: pointer;
}

.white-bar:hover .progress-ball {
  width: 13px;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 1px;
  left: 99%;
  transform: translateY(-50%);
}
